---
layout: default
---
<div id="song-info">
<h2 id="song-title">{{ page.title | escape }}</h2>
<div id="song-description">
{{ content -}}
</div>
<img id="song-cover" src="{{ 'covers/' | append: page.slug | append: '.jpg' | relative_url | escape }}" alt="">
</div>
{% if page.youtube -%}
{% include youtube.html v=page.youtube.v aspect_ratio=page.youtube.aspect_ratio %}
{%- endif %}
<div id="song-lyrics" class="bicolumns">
<section>
<h3>Lyrics</h3>
{% capture lyrics_en %}{% include_relative _lyrics_en.md %}{% endcapture -%}
{{ lyrics_en | markdownify }}
</section>
<section lang="ja">
<h3>歌詞の和訳</h3>
{% capture lyrics_ja %}{% include_relative _lyrics_ja.md %}{% endcapture -%}
{{ lyrics_ja | markdownify }}
</section>
</div>
